* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html, body{ min-height:100%; }
body { min-height:100vh; }

body {
  background: #212528;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
